.select {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 192px;
  border-radius: 8px;
  background-color: var(--input-bg);
}

.option {
  cursor: pointer;
  background-color: var(--input-bg);
  color: var(--input-color);
  text-align: center;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--input-bg);
  transition: border-color 0.35s;
}

.option:hover {
  background-color: var(--input-hover-bg);
  color: var(--input-hover-color);
  border-color: var(--light-green);
}