.button {
  display: flex;
  background: linear-gradient(130deg, var(--dark-green) 40%, var(--mid-green) 60%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18), 0 0 24px 4px rgba(0,255,255,0.12);
  opacity: 1;
  border-radius: 8px; 
  padding: 2px;
  /* min-width: 183px; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border-color 0.35s;
}

.button p {
  position: relative;
  z-index: 10;
}


.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(130deg, var(--mid-green) 40%, var(--light-green) 60%);
  opacity: 0;
  transition: opacity 0.35s;
  z-index: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button:hover {
  border-color: var(--indigo);
}
.button:hover::before {
  opacity: 1;
}