main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.menu {
  width: 400px;
  height: 400px;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--container);
  gap: 10px;
}